<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Delicato Tap House</title>
    <link rel="stylesheet" href="~/css/delicato.css" asp-append-version="true" />
</head>
<body>
    <!-- HEADER -->
    <header class="header">
        <nav class="nav">
            <h1 class="logo">DELICATO</h1>

            <div class="nav-menu">
                <a href="#inicio" class="nav-link">Início</a>
                <a href="#cardapio" class="nav-link">Cardápio</a>
                <a href="#sobre" class="nav-link">Sobre</a>
                <a href="#contato" class="nav-link">Contato</a>
            </div>

            <button class="btn-reservar">Reservar</button>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>
    <!-- Rodapé -->
    <footer class="footer">
        <p>
            © 2025 <span class="brand">Delicato Tap House</span>. Todos os direitos reservados.<br>
            R. José Pinto de Almeida, 399 - Alto, Piracicaba - SP, 13419-000.<br>
            Powered by <span class="brand">EEP Software.</span>
        </p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
