<div id="modalLogin" class="modal">
    <div class="modal-conteudo">
        <span id="fecharModalLogin" class="modal-fechar">&times;</span>

        <div class="card-login">
            <h2 class="titulo">Minhas Reservas</h2>

            <form class="form-container login-form">
                <label>
                    Telefone na Reserva
                    <input id="inputUsuarioLogin" type="tel" placeholder="Digite o contato. Ex: 19 123456789" required>
                </label>

                <label> 
                    Senha
                    <input id="inputSenhaLogin" type="password" placeholder="Digite sua senha" required>
                </label>

                <button type="submit" class="btn-enviar">Entrar</button>
            </form>
        </div>

    </div>
</div>
