<div id="modalReserva" class="modal">
    <div class="modal-conteudo">
        <span id="fecharModalReserva" class="modal-fechar">&times;</span>
        <div class="form-container">
            <h2>Faça sua reserva:</h2>
            <form>
                <label>Nome</label>
                <input id="inputNomeReserva" type="text" placeholder="Digite seu nome">
                <label>Contato (telefone):</label>
                <input id="inputContatoReserva" type="tel" placeholder="Digite o contato. Ex: 19 123456789">
                <label>Informe a quantidade de pessoas:</label>
                <select id="selectNumPessoas">
                    <option value="" selected>Nº de Pessoas</option>
                    <option>1 pessoa</option>
                    <option>2 pessoas</option>
                    <option>3 pessoas</option>
                    <option>4 pessoas</option>
                    <option>5 pessoas</option>
                    <option>6 pessoas</option>
                    <option>7 pessoas</option>
                    <option>8 pessoas</option>
                    <option>9 pessoas</option>
                    <option>10 pessoas</option>
                </select>
                <label>Informe a data:</label>
                <input id="inputDataReserva" type="datetime-local" />
                <label>Observações</label>
                <input id="inputObservacoes" type="text" placeholder="Digite uma observação">
                <button class="btn" type="submit">Confirmar</button>
            </form>
        </div>
    </div>
</div>
