@{
    ViewData["Title"] = "Início";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero-container">
    <!-- Fundo -->
    <div class="hero-background">
        <div class="hero-overlay"></div>
    </div>

    <!-- Conteúdo -->
    <div class="hero-content">
        <div class="main-content">
            <div class="content-wrapper">
                <h2 class="hero-title">
                    Gelada, <span class="italic">artesanal</span><br />
                    e sem frescura.
                </h2>

                <!-- Logo Central -->
                <div class="logo-container">
                    <div class="logo-circle">
                        <img src="https://cdn.discordapp.com/attachments/1377088296622231604/1428626726061346887/DELICATO_LOGOTIPO_FINAL.png?ex=68f32fd2&is=68f1de52&hm=7a542b24940d49fe95a18619cc2db7747925d77ebc267224622d6870b9cf25fa&"
                             alt="DELICATO Tap House Logo" class="logo-image" />
                    </div>
                </div>
            </div>
        </div>

        <!-- Mouse Animado -->
        <div class="mouse-scroll">
            <div class="mouse">
                <div class="wheel"></div>
            </div>
            
        </div>

        <!-- Ícone do Instagram -->
        <a href="https://www.instagram.com/delicatotaphouse/" target="_blank" class="instagram-button">
            <img src="https://cdn.discordapp.com/attachments/1377088296622231604/1428626726774116413/instagram.png?ex=68f32fd2&is=68f1de52&hm=252159f53a1804f3faab192a4118dc521d86754ec320a8c80b4c85569963eb99&"
                 alt="Instagram" class="instagram-icon" />
        </a>
    </div>
</div>

<!-- Seção Laranja -->
<section class="taps-section">
    <div class="taps-content">
        <div class="taps-text">
            <h2 class="taps-title">9 Taps Rotativos</h2>
            <p class="taps-description">
                O Delicato Tap House é um local para apaixonados por cerveja, temos opções para todos os gostos.
                São 9 taps rotativos com diversos estilos diferentes para experimentar.
            </p>
        </div>
        <div class="taps-image">
            <img src="https://cdn.discordapp.com/attachments/1377088296622231604/1428626726426116206/image_1.png?ex=68f32fd2&is=68f1de52&hm=befe3dba01e09724d97fb8c57ba2c03e2b74fb20123a8d704f95356044f61ca6&" width="479" height="546"
                 alt="Copo de cerveja">
        </div>
    </div>
</section>

<!-- Seção Cardapio -->
<section class="cardap-section">
    <div class="cardap-content">
        <div class="cardap-image">
            <img src="/assets/imagens/batata.png" width="479" height="460"
                 alt="batata">
        </div>
        <div class="cardap-text">
            <p class="cardap-description">
                As diversas opções do nosso cardápio foram pensadas para ir bem com qualquer tipo de chopp, dos amargos aos doces
            </p>
            <a class ="cardap-link" href="url">Cardápio Completo</a>
        </div>
    </div>
</section>

<!-- Seção Sobre nós -->
<section class="sobre-section">
    <div class="sobre-content">
        <div class="sobre-text">
            <h2 class="sobre-title">Sobre Nós:</h2>
            <p class="sobre-description">
                Salve o Tricolor Paulista
                Amado clube brasileiro,
                Tu és forte, tu és grande,
                Dentre os grandes, és o primeiro.
                Oh Tricolor
                Clube bem amado
                As tuas glórias
                Vêm do passado.
            </p>
        </div>
        <div class="sobre-image">
            <img src="/assets/imagens/delicatao.png" width="479" height="460"
                 alt="delicato">
        </div>
    </div>
</section>
