/* ====== HEADER ====== */
.header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 25px 60px;
    z-index: 10;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.nav-menu {
    display: flex;
    gap: 35px;
    justify-content: center;
    flex: 1;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 28px;
    border-radius: 25px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

    .nav-link:hover {
        background: #efb73d;
        color: #000;
        border-color: #efb73d;
    }

.btn-reservar {
    background: #fff;
    color: #000;
    border: 2px solid transparent;
    padding: 10px 28px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

    .btn-reservar:hover {
        background: #efb73d;
        border-color: #efb73d;
    }

.btn-mreservar {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    color: #fff;
    border: 2px solid transparent;
    padding: 10px 28px;
    border-radius: 25px;
    font-weight: bold;
    transition: all 0.3s ease;
    cursor: pointer;
}

    .btn-mreservar:hover {
        color: #efb73d;
    }
