
/* Carregar fonte Mulish */
/*@font-face {
    font-family: 'Mulish';
    src: url('~/fonts/Mulish-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/

/* Carregar fonte Museo700 */
/*@font-face {
    font-family: 'Museo700';
    src: url('~/fonts/Museo700-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}*/




html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}